.foodmunch-logo{
    height:60px;
    width:60px;
}
.logo{
    font-size: 70px;
    color:$color-orange;
    width: 110px;
    border: 3px solid $color-orange;
    border-radius: 50%;
    @include flexLayout;
}
.main-name{
    font-family:$font2;
    font-size:40px;
    color:$color-white;
    @include textStyles;
}
.sub-name{
    font-family:$font2;
    font-size:15px;
    color:$color-white;
    text-align:center;
    @include textStyles;
}
.main-heading{
    font-family: $font1;
    font-size:100px;
    color:$color-orange;
    margin-bottom:10px;
    font-weight:300;
}
.sub-heading{
    font-family: $font2;
    font-size:50px;
    color:$color-white;
    font-weight:300;
    margin-bottom:20px;
}
.reservation-btn{
    width:170px;
    height:45px;
    font-family: $font2;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:$color-orange;
    background-color: transparent;
    border:1px solid $color-orange;
    outline: none;
    cursor: pointer;
}